body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(135deg, #3498db, #9b59b6); /* Linear Gradient */
}

.container {
    text-align: center;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 5px;
    margin: 20px auto;
    border: 3px solid #333; /* Optional border */
    background-color: #fff; /*Optional background */
}

.cell {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    border: 1px solid #ccc;
    cursor: pointer;
}

.cell:hover {
    background-color: #f0f0f0;
}

.status{
    margin: 10px auto;
    font-size: 2em;
    height: 40px;
    color: white;
}
button{
    padding: 10px;
    cursor: pointer;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
    
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    text-align: center;
}

.modal-content h2{
    font-size: 2em;
}
.modal-content button{
    margin-top: 10px;
}

.modal.show{
    display: flex;
}